<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Arduino_Toggl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Arduino_Toggl.Properties.Settings>
            <setting name="ApiKey" serializeAs="String">
                <value>Set your API key</value>
            </setting>
            <setting name="MaxCharacterPerLine" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="SerialPort" serializeAs="String">
                <value>COM3</value>
            </setting>
        </Arduino_Toggl.Properties.Settings>
    </applicationSettings>
</configuration>